.headerContainer {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.me {
  position: sticky;
  top: 0;
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  padding: 10px;
  box-sizing: border-box;
}

.textContainer {
  width: 30%;
  font-size: 0.9rem;
  line-height: 1.5;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  list-style: none;
}

.githubIcon:hover {
  color: #333;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.linkedinIcon:hover {
  color: #0073b1;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.iconList {
  gap: 16px;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .nameContainer {
    width: 100%;
    align-items: left;
  }

  .textContainer {
    width: 90%;
  }

  .me {
    width: 90%;
    font-size: 0.7rem;
  }

  .iconContainer {
    align-items: left;
    margin-top: "20px";
  }
}
