.headerContainer {
  display: flex;
  gap: 2rem;
}

.nameContainer {
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.me {
  position: fixed;
  max-width: 20%;
  min-width: 30%;
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}

.textContainer {
  min-width: 10%;
  max-width: 30%;
  font-size: 0.9rem;
  line-height: 1.5;
}

.iconContainer {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.githubIcon:hover {
  color: #333;
}

.linkedinIcon:hover {
  color: #0073b1;
}
